* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  outline: none;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

#map {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

#sidebar {
  width: 320px;
  position: absolute;
  right: 10px;
}

/* Move the sidebar to the bottom for smaller screen size */
@media screen and (max-width: 800px) {
  #sidebar {
    position: absolute;
    left: 0; right: 0;
    width: 100%;
    top: 60%;
    padding: 0 10px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#user {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.user-santa {
  width: 50px;
  height: 50px;
}

.cards {
  margin: 10px 0;
  border-radius: 7px;
  padding: 20px;
}

.santaStatus {
  z-index: 2;
}

.santa_sleigh {
  background-image: url('/images/santa_sleigh.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.santa_gifts {
  background-image: url('/images/santa_gifts.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.giftsCount {
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border: solid 1px #d85748;
  border-radius: 50px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #d85748;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 5px;
}

.giftsCount span {
  font-size: 18px;
}

.giftsCount h1 {
  font-size: 12px;
}

.mapboxgl-popup > .mapboxgl-popup-content {
  width: 250px;
  border-radius: 5px;
  padding: 0;
}

.mapboxgl-marker {
  cursor: pointer;
}

.locationPopup__photo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 100px;
  border-radius: 5px 5px 0 0;
  /* box-shadow: inset 0px -5px 8px #FFFFFF; */
}

.locationPopup__content {
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.locationPopup__name {
  margin-top: 5px;
  font-size: 14px;
}

.locationPopup__desc {
  font-size: 12px;
  margin-top: 5px;
  line-height: 18px;
}

.locationPopup__usersLabel {
  font-size: 12px;
  margin-top: 15px;
}

.locationPopup__users {
  display: flex;
}

.locationPopup__user {
  border-radius: 50%;
  border: 4px solid #ffffff;
  margin-right: -15px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #ffffff;
}

/* **************** Feed Header Card **************** */
.feed-header {
  background-color: #d85748;
  display: flex;
  justify-content: space-between;
  border-radius: 500px;
  padding: 8px 20px;
}

#header-item1,
#header-item2 {
  font-size: 13px;
  color: #ffffff;
}

/* **************** Route Card **************** */

.route {
  background-color: #3D9E59;
  display: grid;
  padding: 15px;
}

#route__arrival {
  grid-column: 1 / span 2;
  grid-row: 1;
}

#route__hr {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin: 15px 0;
  border: solid 1px #399554;
}

.route__labels {
  color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
}

.route__values {
  color: #ffeecf;
  font-size: 16px;
  text-transform: capitalize;
}

.route__icons {
  height: 20px;
  color: #ffffff;
  font-size: 22px;
}

/* **************** Photos Stack **************** */

.photos {
  position: relative;
  width: 100%;
  height: 230px;
  padding: 0;
  border-radius: 0;
}
  
.photos__stack {
  width: 100%;
  height: 190px;
  position: absolute;
  margin: 0 auto;
}

.buttons {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.46);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  left: 0;
  top: 55%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
  z-index: 100;
  outline: none;
  transition:all 0.2s ease;
}

.buttons:hover {
  transform: scale(1.3,1.3);
}

.prev {
  left: 15px;
  right: auto;
}

.next {
  left: auto;
  right: 15px;
}

.carousel .buttons:hover {
  color: #C01313 ;
  background: #fff;
}

.photos__location {
  position: absolute;
  top: 45px;
  left: 15px;
  color: #fff;
  font-family: 'Lobster';
  font-size: 35px;
  text-shadow: 1px 1px #2e2e2e;
  transform: rotate(-3deg);
  -webkit-user-select: none;
  user-select: none;
}
      
.photos__list {
  width: 300px;
}

.photos__list li {
  transition: all 100ms ease-in-out;
  border-radius: 2px;
  position: absolute;
  list-style: none;
  height: 190px;
  -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);    
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  background-size:cover;
  border: solid 5px #fff; 
  background-color: #d6d6d6;
  cursor: pointer;
}

.photos__list li:nth-last-child(4) {
  top: 5px;
  width: calc(100% - 10% * 3);
}

.photos__list li:nth-last-child(3) {
  top: 15px;
  width: calc(100% - 10% * 2);
}

.photos__list li:nth-last-child(2) {
  top: 25px;
  width: calc(100% - 10% * 1);
}

.photos__list li:nth-last-child(1) {
  top: 35px;
  width: calc(100% - 10% * 0);
}

.transformThis {
  animation: scaleDown 500ms;
}

.transformPrev {
  animation: scaleUp 100ms;
  display: none;
}

@keyframes scaleUp {
  0% {transform: scale(1.2) translateY(50px); opacity: 0; }
  20% {transform: scale(1.15) translateY(40px); opacity: 0.10;}
  40% {transform: scale(1.10) translateY(30px); opacity: 0.20;}
  60% {transform: scale(1.05) translateY(20px); opacity: 0.40;}
  80% {transform: scale(1.01) translateY(10px); opacity: 0.80;}
  100% {transform: scale(1) translateY(0); opacity: 1;}
}

@keyframes scaleDown {
  0% {transform: scale(1) translateY(0); opacity: 1; }
  20% {transform: scale(1.01) translateY(20px); opacity: 0.80;}
  40% {transform: scale(1.05) translateY(40px); opacity: 0.40;}
  60% {transform: scale(1.10) translateY(60px); opacity: 0.20;}
  80% {transform: scale(1.15) translateY(80px); opacity: 0.10;}
  100% {transform: scale(1.2) translateY(100px); opacity: 0;}
}

@keyframes scaleCard {
  0%   {top:5px;}
  100% {top:24px;}    
}

@keyframes bounceInLeft {
0% { opacity: 0; transform: translateX(40px); } 
/* 60% { opacity: 1; transform: translateX(20px); } */
/* 80% { transform: translateX(20px); } */
100% { transform: translateX(0); } 
}

@keyframes bounceInRight {
0% { opacity: 0; transform: translateX(-40px); } 
/* 60% { opacity: 1; transform: translateX(-20px); } */
/* 80% { transform: translateX(20px); } */
100% { transform: translateX(0); } 
}

/* **************** Media Card **************** */

.media {
  position: relative;
  width: 100%;
  height: 250px;
  /* background-image: url('https://cdn2.scratch.mit.edu/get_image/project/86359934_480x360.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.media__labels {
  position: absolute;
  top: 0;
  left: 15px;
  padding: 5px;
  border-radius: 0 0 7px 7px;
  background-color: #fff;
  color: #C01313;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
}

.media__cta {
  position: absolute;
  background-color: #C01313;
  border-radius: 50px;
  color: #ffffff;
  padding: 8px;
  font-size: 35px;
  left: 15px;
  bottom: 15px;
  transition: 0.3s;
}

.media__cta:hover {
  background-color: #fff;
  color: #C01313;
}